@import './variable';

* { 
  box-sizing: border-box;
}
body{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

.wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height:100vh;
  background-color: $theme-background;
}

