
.wrapper{
  //以后要做responsive
  width:900px;
  height:550px;
  margin-bottom: 70px;
  border-radius: 30px;
  padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 15px 18px 49px -32px rgba(0,0,0,0.75);
  background-color: #fff;
}