.wrapper{
  background-color: black;
}
.weatherBox{
  width: 100px;
  height:100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:solid 1px black;
}