
.contact__page {
  @include page-setup;
  box-shadow: 5px 5px 15px 3px #ccc;
  overflow: hidden;
  border-radius: $radius;
}
.page__content{
  text-align: left;
  padding:30px 50px 50px;
  background-color: white;
  display:flex;
  .contact__info, .contact__form{
    flex:1;
  }
  .contact__info{
    padding-left: 0;
  }
  .contact__form {
    padding-left: 15px; 
  }
  .info__detail{
    display: flex;
    padding: 10px 10px 10px 0;
    .icon__container{
      background-color: #fafafa;
      ;
      width:36px;
      height:36px;
      border-radius: 50%;
      display:flex;
      justify-content: center;
      align-items: center;
    }
    p{
      margin:0;
      padding-top:5px;
      padding-left: 14px;
      font-weight: 600;
    }
  }
  .info-icon{
    color:$ThemeBackground;
  }
  .input__bar{
    display:flex;
    border-bottom:solid 1px #e0e0e0;
    margin-bottom: 25px;
    position:relative;
    .underline__focus {
      position: absolute;
      content: "";
      transition-property: left,right;
      transition-duration: 0.2s;
      left: 50%;
      right: 50%;
      bottom: -1px;
      border-bottom: solid 2px $ThemeBackground;
    }
    input{
      height:41px;
      width:100%;
      border:none;
      font-size: 20px;
    }
    


  }
}
.input__message{
    height: 97px;
    display:flex;
textarea {
    resize: none;
    flex:1;
    border:none;
    font-size: 20px;
  }

}

.square__container {
  background-color: #fafafa;
  height: 41px;
  width: 40px;
}
.message__icon-holder {
  padding-top: 15px;
  background-color: #fafafa;
  width: 40px;
}

.icon-holder{
  display:flex;
  justify-content: center;
  align-items: center; 
}
.message__icon-holder{
  align-items: flex-start;
}
.g-recaptcha{
  margin-bottom: 20px;
}
.submit-btn{
  padding: 0 21px;
  background-color: $ThemeBackground;
  color: white;
  font-size: 12px;
  box-shadow: 1px 2px 3px 1px #ccc;
  width:144px;
  height:39px;
  border-radius: 3px;
  border:none;
  font-weight: 600;
  &:hover{
    cursor: pointer;
    box-shadow: 1px 2px 8px 2px #ccc;
  }
}

.contact-icon {
  color: #bdbdbd;
}
.info__heading{
  position:absolute;
  left:40px;
  top:6px;
  font-style: normal;
  font-size: 16px;
  color:#bdbdbd;
  transition-property: transform, font-size;
  transition-duration: 0.2s;
  cursor: text;
}
.info__message{
  top:9px;
}