$cardWidth:1032px;
$cardHeight:564px;
$navHeight:100px;
$ThemeBackground:#3fc1c9;
$lightText:#fc5185;
$darkColor:#364f6b;
$grayText:#5a6979;
$bodyBackground:#f8f8f87a;
$grayBar:#e0e0e0;
$OpacityLight:0.8;
$OpacityHeavy:0.7;
$radius:10px;
