$cardWidth:1032px;
$cardHeight:564px;
$navHeight:100px;
$cardTitleBackground:#3fc1c9;
$lightText:#fc5185;
$darkColor:#364f6b;
$grayText:#5a6979;
$UltraGrayText:#848d98;
$bodyBackground:#f8f8f87a;
$OpacityLight:0.8;
$OpacityHeavy:0.7;