.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__wrapper .nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main__wrapper .nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__wrapper .nav__content__link__container:hover .nav__content__link::after {
  left: 0;
  right: 0;
}

.main__wrapper .nav__content__link__container:hover .nav__content__link {
  opacity: 1;
}

.main__wrapper .nav__content__link {
  margin: 0 10px;
  font-size: 1.1em;
  text-decoration: none;
  color: #364f6b;
  opacity: 0.8;
  position: relative;
}

.main__wrapper .nav__content__link--selected {
  font-weight: 600;
  opacity: 1;
}

.main__wrapper .nav__content__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  border-bottom: solid 2px #fc5185;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.main__wrapper .nav .nav__container {
  height: 100px;
  width: 1032px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__wrapper .nav .nav__container .nav__name {
  font-size: 1.5em;
  font-weight: 600;
}

.main__wrapper .card__container .card {
  width: 1032px;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 15px 3px #ccc;
          box-shadow: 5px 5px 15px 3px #ccc;
}

.main__wrapper .card__container .card__title {
  height: 300px;
  padding: 50px;
  margin-bottom: 25px;
  background-color: #3fc1c9;
  background-image: url("https://i.ya-webdesign.com/images/png-transparent-patterns.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__wrapper .card__container .card__title__img {
  margin: 0;
  background-color: #364f6b;
  width: 274px;
  height: 274px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: -webkit-transform box-shadow;
  transition-property: -webkit-transform box-shadow;
  transition-property: transform box-shadow;
  transition-property: transform box-shadow, -webkit-transform box-shadow;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.main__wrapper .card__container .card__title__img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 20px 20px -5px #ccc;
          box-shadow: 0 20px 20px -5px #ccc;
}

.main__wrapper .card__container .card__title__img img {
  width: 268px;
  position: relative;
}

.main__wrapper .card__container .card__title__name__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.main__wrapper .card__container .card__title__name__container__name h1 {
  font-size: 54px;
  margin: 30px 0 0;
  font-weight: 600;
  line-height: 81px;
}

.main__wrapper .card__container .card__title__name__container__position {
  font-size: 1.2em;
}

.main__wrapper .card__container .card__title__name__container--icon {
  font-size: 2em;
  margin: 5px;
  -webkit-transition-property: -webkit-transform box-shadow;
  transition-property: -webkit-transform box-shadow;
  transition-property: transform box-shadow;
  transition-property: transform box-shadow, -webkit-transform box-shadow;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.main__wrapper .card__container .card__title__name__container--icon:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 10px -3px #ccc;
          box-shadow: 0 3px 10px -3px #ccc;
  cursor: pointer;
}

.main__wrapper .card__container .card .card__body {
  padding: 20px 50px 50px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.main__wrapper .card__container .card .card__body__aboutMe {
  width: 450px;
}

.main__wrapper .card__container .card .card__body__aboutMe__description {
  opacity: 0.8;
}

.main__wrapper .card__container .card .card__body__info ul li {
  list-style-type: none;
  margin: 8px 0;
}

.main__wrapper .card__container .card .card__body .info__key {
  display: inline-block;
  width: 120px;
}

.main__wrapper .card__container .card .card__body .info__value {
  opacity: 0.7;
}

.main__wrapper .card__container .card .card__body .info__value a {
  text-decoration: none;
  color: #3fc1c9;
}

.main__wrapper .card__container .card .card__body .info__value a:hover {
  color: #fc5185;
  cursor: pointer;
  -webkit-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}

.Resume__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: inline-block;
  width: 1032px;
}

.Resume__page .Resume__title {
  background-color: #3fc1c9;
  background-image: url("https://i.ya-webdesign.com/images/png-transparent-patterns.png");
  background-position-y: -20px;
  background-size: cover;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 30px;
}

.Resume__page .Resume__title h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 66px;
  margin: 0;
}

.Resume__page .Resume__body {
  padding: 30px 50px 50px;
  text-align: left;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Resume__page .Resume__body .Education__container, .Resume__page .Resume__body .Experience__container {
  padding: 0 15px;
}

.Resume__page .Resume__body .Education__container__title, .Resume__page .Resume__body .Experience__container__title {
  font-weight: 400;
}

.Resume__page .Resume__body .Education__container .Education__container__holder, .Resume__page .Resume__body .Education__container .Experience__container__holder, .Resume__page .Resume__body .Experience__container .Education__container__holder, .Resume__page .Resume__body .Experience__container .Experience__container__holder {
  margin: 0 0 20px 20px;
  padding: 15px 20px 10px;
  border-left: solid 2px #3fc1c9;
  -webkit-box-shadow: 0 0 3px 1px #ccc;
          box-shadow: 0 0 3px 1px #ccc;
  position: relative;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .circle__and__bar::before, .Resume__page .Resume__body .Education__container .Experience__container__holder .circle__and__bar::before, .Resume__page .Resume__body .Experience__container .Education__container__holder .circle__and__bar::before, .Resume__page .Resume__body .Experience__container .Experience__container__holder .circle__and__bar::before {
  content: "";
  position: absolute;
  left: -29px;
  top: 60px;
  width: 29px;
  border-top: solid 2px #3fc1c9;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .circle__and__bar::after, .Resume__page .Resume__body .Education__container .Experience__container__holder .circle__and__bar::after, .Resume__page .Resume__body .Experience__container .Education__container__holder .circle__and__bar::after, .Resume__page .Resume__body .Experience__container .Experience__container__holder .circle__and__bar::after {
  border: solid 2px #3fc1c9;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -31px;
  background-color: white;
  top: 53px;
}

.Resume__page .Resume__body .Education__container .Education__container__holder:hover, .Resume__page .Resume__body .Education__container .Experience__container__holder:hover, .Resume__page .Resume__body .Experience__container .Education__container__holder:hover, .Resume__page .Resume__body .Experience__container .Experience__container__holder:hover {
  -webkit-box-shadow: 0 0 10px 1px #ccc;
          box-shadow: 0 0 10px 1px #ccc;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .course__name, .Resume__page .Resume__body .Education__container .Education__container__holder .position__name, .Resume__page .Resume__body .Education__container .Experience__container__holder .course__name, .Resume__page .Resume__body .Education__container .Experience__container__holder .position__name, .Resume__page .Resume__body .Experience__container .Education__container__holder .course__name, .Resume__page .Resume__body .Experience__container .Education__container__holder .position__name, .Resume__page .Resume__body .Experience__container .Experience__container__holder .course__name, .Resume__page .Resume__body .Experience__container .Experience__container__holder .position__name {
  font-size: 16px;
  margin: 0;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .course__date__and__info,
.Resume__page .Resume__body .Education__container .Education__container__holder .position__date__and__info, .Resume__page .Resume__body .Education__container .Experience__container__holder .course__date__and__info,
.Resume__page .Resume__body .Education__container .Experience__container__holder .position__date__and__info, .Resume__page .Resume__body .Experience__container .Education__container__holder .course__date__and__info,
.Resume__page .Resume__body .Experience__container .Education__container__holder .position__date__and__info, .Resume__page .Resume__body .Experience__container .Experience__container__holder .course__date__and__info,
.Resume__page .Resume__body .Experience__container .Experience__container__holder .position__date__and__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .course__date__and__info p,
.Resume__page .Resume__body .Education__container .Education__container__holder .position__date__and__info p, .Resume__page .Resume__body .Education__container .Experience__container__holder .course__date__and__info p,
.Resume__page .Resume__body .Education__container .Experience__container__holder .position__date__and__info p, .Resume__page .Resume__body .Experience__container .Education__container__holder .course__date__and__info p,
.Resume__page .Resume__body .Experience__container .Education__container__holder .position__date__and__info p, .Resume__page .Resume__body .Experience__container .Experience__container__holder .course__date__and__info p,
.Resume__page .Resume__body .Experience__container .Experience__container__holder .position__date__and__info p {
  margin: 0px;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 14px;
  margin-right: 2px;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .course__date__and__info .date,
.Resume__page .Resume__body .Education__container .Education__container__holder .position__date__and__info .date, .Resume__page .Resume__body .Education__container .Experience__container__holder .course__date__and__info .date,
.Resume__page .Resume__body .Education__container .Experience__container__holder .position__date__and__info .date, .Resume__page .Resume__body .Experience__container .Education__container__holder .course__date__and__info .date,
.Resume__page .Resume__body .Experience__container .Education__container__holder .position__date__and__info .date, .Resume__page .Resume__body .Experience__container .Experience__container__holder .course__date__and__info .date,
.Resume__page .Resume__body .Experience__container .Experience__container__holder .position__date__and__info .date {
  color: #3fc1c9;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .course__date__and__info .company,
.Resume__page .Resume__body .Education__container .Education__container__holder .position__date__and__info .company, .Resume__page .Resume__body .Education__container .Experience__container__holder .course__date__and__info .company,
.Resume__page .Resume__body .Education__container .Experience__container__holder .position__date__and__info .company, .Resume__page .Resume__body .Experience__container .Education__container__holder .course__date__and__info .company,
.Resume__page .Resume__body .Experience__container .Education__container__holder .position__date__and__info .company, .Resume__page .Resume__body .Experience__container .Experience__container__holder .course__date__and__info .company,
.Resume__page .Resume__body .Experience__container .Experience__container__holder .position__date__and__info .company {
  padding-left: 8px;
  border-left: solid #e0e0e0 1px;
  color: #5a6979;
  margin-left: 5px;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .course__description,
.Resume__page .Resume__body .Education__container .Education__container__holder .position__description, .Resume__page .Resume__body .Education__container .Experience__container__holder .course__description,
.Resume__page .Resume__body .Education__container .Experience__container__holder .position__description, .Resume__page .Resume__body .Experience__container .Education__container__holder .course__description,
.Resume__page .Resume__body .Experience__container .Education__container__holder .position__description, .Resume__page .Resume__body .Experience__container .Experience__container__holder .course__description,
.Resume__page .Resume__body .Experience__container .Experience__container__holder .position__description {
  margin: 0;
  margin-bottom: 10px;
}

.Resume__page .Resume__body .content__holder {
  padding: 15px 0;
  border-left: solid 2px #e0e0e0;
}

.Resume__page .Resume__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Baloo Paaji 2',cursive;
  color: #364f6b;
  margin: 0;
  background-image: url("https://www.ignitesearch.com.au/wp-content/themes/the-seo/images/network.png");
  background-size: cover;
  background-color: #f8f8f87a;
  background-position: center;
}

p {
  line-height: 25px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.highlight {
  color: #fc5185;
}
/*# sourceMappingURL=styles.css.map */