.nav {
  top: 0;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__content__link__container:hover .nav__content__link::after {
  left: 0;
  right: 0;
}

.nav__content__link__container:hover .nav__content__link {
  opacity: 1;
}

.nav__content__link {
  margin: 0 10px;
  font-size: 1.1em;
  text-decoration: none;
  color: #364f6b;
  opacity: 0.8;
  position: relative;
}

.nav__content__link--selected {
  font-weight: 600;
  opacity: 1;
}

.nav__content__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  border-bottom: solid 2px #fc5185;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.nav .nav__container {
  height: 60px;
  width: 1032px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__container .nav__name {
  font-size: 1.5em;
  font-weight: 600;
}

.nav-sticky {
  background-color: white;
  z-index: 100;
  margin-bottom: 40px;
  height: 60px;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__wrapper .card__container .card {
  width: 1032px;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 15px 3px #ccc;
          box-shadow: 5px 5px 15px 3px #ccc;
}

.main__wrapper .card__container .card__title {
  height: 300px;
  padding: 50px;
  margin-bottom: 25px;
  background-color: #3fc1c9;
  background-image: url("https://i.ya-webdesign.com/images/png-transparent-patterns.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__wrapper .card__container .card__title__img {
  margin: 0;
  background-color: #364f6b;
  width: 274px;
  height: 274px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: -webkit-transform box-shadow;
  transition-property: -webkit-transform box-shadow;
  transition-property: transform box-shadow;
  transition-property: transform box-shadow, -webkit-transform box-shadow;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.main__wrapper .card__container .card__title__img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 20px 20px -5px #ccc;
          box-shadow: 0 20px 20px -5px #ccc;
}

.main__wrapper .card__container .card__title__img img {
  width: 268px;
  position: relative;
}

.main__wrapper .card__container .card__title__name__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.main__wrapper .card__container .card__title__name__container__name h1 {
  font-size: 54px;
  margin: 30px 0 0;
  font-weight: 600;
  line-height: 81px;
}

.main__wrapper .card__container .card__title__name__container__position {
  font-size: 1.2em;
}

.main__wrapper .card__container .card__title__name__container--icon {
  font-size: 2em;
  margin: 5px;
  -webkit-transition-property: -webkit-transform box-shadow;
  transition-property: -webkit-transform box-shadow;
  transition-property: transform box-shadow;
  transition-property: transform box-shadow, -webkit-transform box-shadow;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.main__wrapper .card__container .card__title__name__container--icon:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 10px -3px #ccc;
          box-shadow: 0 3px 10px -3px #ccc;
  cursor: pointer;
}

.main__wrapper .card__container .card .card__body {
  padding: 20px 50px 50px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.main__wrapper .card__container .card .card__body__aboutMe {
  width: 450px;
}

.main__wrapper .card__container .card .card__body__aboutMe__description {
  opacity: 0.8;
}

.main__wrapper .card__container .card .card__body__info ul li {
  list-style-type: none;
  margin: 8px 0;
}

.main__wrapper .card__container .card .card__body .info__key {
  display: inline-block;
  width: 120px;
}

.main__wrapper .card__container .card .card__body .info__value {
  opacity: 0.7;
}

.main__wrapper .card__container .card .card__body .info__value a {
  text-decoration: none;
  color: #3fc1c9;
}

.main__wrapper .card__container .card .card__body .info__value a:hover {
  color: #fc5185;
  cursor: pointer;
  -webkit-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}

.title__page {
  background-color: #3fc1c9;
  background-image: url("https://i.ya-webdesign.com/images/png-transparent-patterns.png");
  background-position-y: -20px;
  background-size: cover;
  color: white;
  padding: 30px;
}

.title__page h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 66px;
  margin: 0;
}

.heading {
  font-weight: 400;
  margin-bottom: 25px;
}

.Resume__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: inline-block;
  width: 1032px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 3px #ccc;
          box-shadow: 5px 5px 15px 3px #ccc;
}

.Resume__page .Resume__body {
  padding: 30px 50px 20px;
  text-align: left;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Resume__page .Resume__body .Education__container, .Resume__page .Resume__body .Experience__container {
  padding: 0 15px;
}

.Resume__page .Resume__body .Education__container__title, .Resume__page .Resume__body .Experience__container__title {
  font-weight: 400;
}

.Resume__page .Resume__body .Education__container .Education__container__holder, .Resume__page .Resume__body .Education__container .Experience__container__holder, .Resume__page .Resume__body .Experience__container .Education__container__holder, .Resume__page .Resume__body .Experience__container .Experience__container__holder {
  margin: 0 0 20px 20px;
  padding: 15px 20px 10px;
  border-left: solid 2px #3fc1c9;
  -webkit-box-shadow: 0 0 3px 1px #ccc;
          box-shadow: 0 0 3px 1px #ccc;
  position: relative;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .circle__and__bar::before, .Resume__page .Resume__body .Education__container .Experience__container__holder .circle__and__bar::before, .Resume__page .Resume__body .Experience__container .Education__container__holder .circle__and__bar::before, .Resume__page .Resume__body .Experience__container .Experience__container__holder .circle__and__bar::before {
  content: "";
  position: absolute;
  left: -29px;
  top: 60px;
  width: 29px;
  border-top: solid 2px #3fc1c9;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .circle__and__bar::after, .Resume__page .Resume__body .Education__container .Experience__container__holder .circle__and__bar::after, .Resume__page .Resume__body .Experience__container .Education__container__holder .circle__and__bar::after, .Resume__page .Resume__body .Experience__container .Experience__container__holder .circle__and__bar::after {
  border: solid 2px #3fc1c9;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -31px;
  background-color: white;
  top: 53px;
}

.Resume__page .Resume__body .Education__container .Education__container__holder:hover, .Resume__page .Resume__body .Education__container .Experience__container__holder:hover, .Resume__page .Resume__body .Experience__container .Education__container__holder:hover, .Resume__page .Resume__body .Experience__container .Experience__container__holder:hover {
  -webkit-box-shadow: 0 0 10px 1px #ccc;
          box-shadow: 0 0 10px 1px #ccc;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .course__name, .Resume__page .Resume__body .Education__container .Education__container__holder .position__name, .Resume__page .Resume__body .Education__container .Experience__container__holder .course__name, .Resume__page .Resume__body .Education__container .Experience__container__holder .position__name, .Resume__page .Resume__body .Experience__container .Education__container__holder .course__name, .Resume__page .Resume__body .Experience__container .Education__container__holder .position__name, .Resume__page .Resume__body .Experience__container .Experience__container__holder .course__name, .Resume__page .Resume__body .Experience__container .Experience__container__holder .position__name {
  font-size: 16px;
  margin: 0;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .course__date__and__info,
.Resume__page .Resume__body .Education__container .Education__container__holder .position__date__and__info, .Resume__page .Resume__body .Education__container .Experience__container__holder .course__date__and__info,
.Resume__page .Resume__body .Education__container .Experience__container__holder .position__date__and__info, .Resume__page .Resume__body .Experience__container .Education__container__holder .course__date__and__info,
.Resume__page .Resume__body .Experience__container .Education__container__holder .position__date__and__info, .Resume__page .Resume__body .Experience__container .Experience__container__holder .course__date__and__info,
.Resume__page .Resume__body .Experience__container .Experience__container__holder .position__date__and__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .course__date__and__info p,
.Resume__page .Resume__body .Education__container .Education__container__holder .position__date__and__info p, .Resume__page .Resume__body .Education__container .Experience__container__holder .course__date__and__info p,
.Resume__page .Resume__body .Education__container .Experience__container__holder .position__date__and__info p, .Resume__page .Resume__body .Experience__container .Education__container__holder .course__date__and__info p,
.Resume__page .Resume__body .Experience__container .Education__container__holder .position__date__and__info p, .Resume__page .Resume__body .Experience__container .Experience__container__holder .course__date__and__info p,
.Resume__page .Resume__body .Experience__container .Experience__container__holder .position__date__and__info p {
  margin: 0px;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 14px;
  margin-right: 2px;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .course__date__and__info .date,
.Resume__page .Resume__body .Education__container .Education__container__holder .position__date__and__info .date, .Resume__page .Resume__body .Education__container .Experience__container__holder .course__date__and__info .date,
.Resume__page .Resume__body .Education__container .Experience__container__holder .position__date__and__info .date, .Resume__page .Resume__body .Experience__container .Education__container__holder .course__date__and__info .date,
.Resume__page .Resume__body .Experience__container .Education__container__holder .position__date__and__info .date, .Resume__page .Resume__body .Experience__container .Experience__container__holder .course__date__and__info .date,
.Resume__page .Resume__body .Experience__container .Experience__container__holder .position__date__and__info .date {
  color: #3fc1c9;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .course__date__and__info .company,
.Resume__page .Resume__body .Education__container .Education__container__holder .position__date__and__info .company, .Resume__page .Resume__body .Education__container .Experience__container__holder .course__date__and__info .company,
.Resume__page .Resume__body .Education__container .Experience__container__holder .position__date__and__info .company, .Resume__page .Resume__body .Experience__container .Education__container__holder .course__date__and__info .company,
.Resume__page .Resume__body .Experience__container .Education__container__holder .position__date__and__info .company, .Resume__page .Resume__body .Experience__container .Experience__container__holder .course__date__and__info .company,
.Resume__page .Resume__body .Experience__container .Experience__container__holder .position__date__and__info .company {
  padding-left: 8px;
  border-left: solid #e0e0e0 1px;
  color: #5a6979;
  margin-left: 5px;
}

.Resume__page .Resume__body .Education__container .Education__container__holder .course__description,
.Resume__page .Resume__body .Education__container .Education__container__holder .position__description, .Resume__page .Resume__body .Education__container .Experience__container__holder .course__description,
.Resume__page .Resume__body .Education__container .Experience__container__holder .position__description, .Resume__page .Resume__body .Experience__container .Education__container__holder .course__description,
.Resume__page .Resume__body .Experience__container .Education__container__holder .position__description, .Resume__page .Resume__body .Experience__container .Experience__container__holder .course__description,
.Resume__page .Resume__body .Experience__container .Experience__container__holder .position__description {
  margin: 0;
  margin-bottom: 10px;
}

.Resume__page .Resume__body .Education__container {
  padding-left: 0;
}

.Resume__page .Resume__body .content__holder {
  padding: 15px 0;
  border-left: solid 2px #e0e0e0;
}

.Resume__page .Resume__skills {
  padding: 0 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  text-align: left;
}

.Resume__page .Resume__skills .Resume__skills__design,
.Resume__page .Resume__skills .Resume__skills__coding {
  padding-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Resume__page .Resume__skills .Resume__skills__design .skill__bar__wrapper,
.Resume__page .Resume__skills .Resume__skills__coding .skill__bar__wrapper {
  position: relative;
  padding-right: 15px;
}

.Resume__page .Resume__skills .Resume__skills__design .skill__bar,
.Resume__page .Resume__skills .Resume__skills__coding .skill__bar {
  width: 100%;
  height: 10px;
  border: solid 1px #e0e0e0;
  background-color: #f5f5f5;
}

.Resume__page .Resume__skills .Resume__skills__design .skill__bar::after,
.Resume__page .Resume__skills .Resume__skills__coding .skill__bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3fc1c9;
}

.Resume__page .Resume__skills .Resume__skills__design .design--web::after,
.Resume__page .Resume__skills .Resume__skills__coding .design--web::after {
  right: 20%;
  -webkit-animation: bar-animation 0.8s;
          animation: bar-animation 0.8s;
}

.Resume__page .Resume__skills .Resume__skills__design .design--graphic::after,
.Resume__page .Resume__skills .Resume__skills__coding .design--graphic::after {
  right: 60%;
  -webkit-animation: bar-animation 0.8s;
          animation: bar-animation 0.8s;
}

.Resume__page .Resume__skills .Resume__skills__design .design--print::after,
.Resume__page .Resume__skills .Resume__skills__coding .design--print::after {
  right: 30%;
  -webkit-animation: bar-animation 0.8s;
          animation: bar-animation 0.8s;
}

.Resume__page .Resume__skills .Resume__skills__design .coding--html::after,
.Resume__page .Resume__skills .Resume__skills__coding .coding--html::after {
  right: 15%;
  -webkit-animation: bar-animation 0.8s;
          animation: bar-animation 0.8s;
}

.Resume__page .Resume__skills .Resume__skills__design .coding--css::after,
.Resume__page .Resume__skills .Resume__skills__coding .coding--css::after {
  right: 10%;
  -webkit-animation: bar-animation 0.8s;
          animation: bar-animation 0.8s;
}

.Resume__page .Resume__skills .Resume__skills__design .coding--js::after,
.Resume__page .Resume__skills .Resume__skills__coding .coding--js::after {
  right: 20%;
  -webkit-animation: bar-animation 0.8s;
          animation: bar-animation 0.8s;
}

.Resume__page .Resume__skills .Resume__skills__design .skill__bar--last-div,
.Resume__page .Resume__skills .Resume__skills__coding .skill__bar--last-div {
  margin-bottom: 30px;
}

.Resume__page .Resume__skills .Resume__skills__design {
  padding-left: 0;
}

@-webkit-keyframes bar-animation {
  0% {
    right: 100%;
  }
  50% {
    right: 100%;
  }
  100% {
  }
}

@keyframes bar-animation {
  0% {
    right: 100%;
  }
  50% {
    right: 100%;
  }
  100% {
  }
}

.contact__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: inline-block;
  width: 1032px;
  -webkit-box-shadow: 5px 5px 15px 3px #ccc;
          box-shadow: 5px 5px 15px 3px #ccc;
  overflow: hidden;
  border-radius: 10px;
}

.page__content {
  text-align: left;
  padding: 30px 50px 50px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__content .contact__info, .page__content .contact__form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page__content .contact__info {
  padding-left: 0;
}

.page__content .contact__form {
  padding-left: 15px;
}

.page__content .info__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px 10px 0;
}

.page__content .info__detail .icon__container {
  background-color: #fafafa;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__content .info__detail p {
  margin: 0;
  padding-top: 5px;
  padding-left: 14px;
  font-weight: 600;
}

.page__content .info-icon {
  color: #3fc1c9;
}

.page__content .input__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 1px #e0e0e0;
  margin-bottom: 25px;
  position: relative;
}

.page__content .input__bar .underline__focus {
  position: absolute;
  content: "";
  -webkit-transition-property: left,right;
  transition-property: left,right;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  left: 50%;
  right: 50%;
  bottom: -1px;
  border-bottom: solid 2px #3fc1c9;
}

.page__content .input__bar input {
  height: 41px;
  width: 100%;
  border: none;
  font-size: 20px;
}

.input__message {
  height: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input__message textarea {
  resize: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  font-size: 20px;
}

.square__container {
  background-color: #fafafa;
  height: 41px;
  width: 40px;
}

.message__icon-holder {
  padding-top: 15px;
  background-color: #fafafa;
  width: 40px;
}

.icon-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message__icon-holder {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.g-recaptcha {
  margin-bottom: 20px;
}

.submit-btn {
  padding: 0 21px;
  background-color: #3fc1c9;
  color: white;
  font-size: 12px;
  -webkit-box-shadow: 1px 2px 3px 1px #ccc;
          box-shadow: 1px 2px 3px 1px #ccc;
  width: 144px;
  height: 39px;
  border-radius: 3px;
  border: none;
  font-weight: 600;
}

.submit-btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 8px 2px #ccc;
          box-shadow: 1px 2px 8px 2px #ccc;
}

.contact-icon {
  color: #bdbdbd;
}

.info__heading {
  position: absolute;
  left: 40px;
  top: 6px;
  font-style: normal;
  font-size: 16px;
  color: #bdbdbd;
  -webkit-transition-property: font-size, -webkit-transform;
  transition-property: font-size, -webkit-transform;
  transition-property: transform, font-size;
  transition-property: transform, font-size, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: text;
}

.info__message {
  top: 9px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Baloo Paaji 2',cursive;
  color: #364f6b;
  margin: 0;
  background-image: url("https://www.ignitesearch.com.au/wp-content/themes/the-seo/images/network.png");
  background-size: cover;
  background-color: #f8f8f87a;
  background-position: center;
}

p {
  line-height: 25px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.highlight {
  color: #fc5185;
}

.bottom__footer {
  padding: 20px;
}

.bottom__footer p {
  font-size: 13px;
  color: #5a6979;
}

input, textarea {
  outline: none;
}
/*# sourceMappingURL=styles.css.map */